page-gamePage {
    
    .operand-active{
        width: 100px; 
        background-color: green; 
    }
    .operand-active:hover{
        background-color: purple !important;
    }

    .operator-active{
        width: 73px;     
        background-color: green; 
    }
    .operator-selected{
        width: 73px;     
        background-color: #0000ff; 
    }
    .operand-dead{
        width: 100px; 
        background-color: #808080; 
        
    }
    .container{
        text-align: center; 
    }

    .background{
        background: url('../../assets/backgrounds/paraback.jpg') repeat 5% 5%;
        -webkit-animation:100s scroll infinite linear;
        -moz-animation:100s scroll infinite linear;
        -o-animation:100s scroll infinite linear;
        -ms-animation:100s scroll infinite linear;
        animation:100s scroll infinite linear;
        top:0;
        left:0;
        width:100%;
       height:100%;
    }

    @-webkit-keyframes scroll{
        100%{
          background-position:1000px -3000px;
        }
      }
      
      @-moz-keyframes scroll{
        100%{
          background-position:1000px -3000px;
        }
      }
      
      @-o-keyframes scroll{
        100%{
          background-position:1000px -3000px;
        }
      }
      
      @-ms-keyframes scroll{
        100%{
          background-position:1000px -3000px;
        }
      }
      
      @keyframes scroll{
        100%{
          background-position:1000px -3000px;
        }
      }
      


}
