page-gamePage {
    
    .operand-active{
        width: 100px; 
        background-color: green; 
    }
    .operand-active:hover{
        background-color: purple !important;
    }

    .operator-active{
        width: 73px;     
        background-color: green; 
    }
    .operator-selected{
        width: 73px;     
        background-color: #0000ff; 
    }
    .operand-dead{
        width: 100px; 
        background-color: #808080; 
        
    }
    .container{
        text-align: center; 
    }
}
